.invitation-section {
  padding: 24px;
  margin: 12px 0px;
  text-align: center;
  font-size: 20px;
  font-style: italic;
  background-color: #fffafc;
  color: #ff6f91;
  position: relative;
  overflow: hidden;
}

.invitation-section::before,
.invitation-section::after {
  content: "";
  display: block;
  height: 20px;
  position: absolute;
  left: 0;
  right: 0;
}

.invitation-section::before {
  top: 0;
}

.invitation-section::after {
  bottom: 0;
}
